


.carousel{
    border: 2px solid rgba(0, 0, 0, 0.125);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin-top: 12%;
}

.box{
    background-color: #f8f9fa !important;
    text-shadow: 3px 2px 10px rgba(50, 50, 93, 0.25);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 30% 0% 30% 0% !important;
    margin: 0;
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 5%;
}
